.toast {
  width: fit-content;
  padding: 1rem 3rem 1rem 1rem;
  background-color: white;
  color: var(--secondary-text-color);
  border-radius: 0.3rem;
  z-index: var(--z-index-5);
}

.toast-cancel-btn {
  margin-left: 3rem;
}

.target-toast {
  display: none;
}

.toast-success {
  background-color: var(--toast-success-background-color);
  color: var(--toast-success-color);
}

.toast-error {
  background-color: var(--toast-error-background-color);
  color: var(--toast-error-color);
}

.toast-inform {
  background-color: var(--toast-inform-background-color);
  color: var(--toast-inform-color);
}

.show {
  visibility: visible; /* Show the snackbar */
  position: fixed;

  left: 50%; /* Center the snackbar */
  bottom: 30px;
  display: block;
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
	However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
