.alert-container{
  border-radius: 0.48rem;
  padding: 1.6rem 4.8rem 1.6rem 1.6rem;
  font-size: 1.6rem;
  margin: 1.6rem 0;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.primary-alert{
  color: var(--primary-dark-color);
  background-color: var(--primary-light-color);
  border-color: var(--primary-border-color);
}

.success-alert{
  color: var(--success-dark-color);
  background-color: var(--success-light-color);
  border-color: var(--success-border-color);
}

.secondary-alert{
  color: var(--secondary-dark-color);
  background-color: var(--secondary-light-color);
  border-color: var(--secondary-border-color);
}

.danger-alert{
  color: var(--danger-dark-color);
  background-color: var(--danger-light-color);
  border-color: var(--danger-border-color);
}

.warning-alert{
  color: var(--warning-dark-color);
  background-color: var(--warning-light-color);
  border-color: var(--warning-border-color);
}

.icon-alert{
  margin-right: 1rem;
  width: 1.6em;
  height: 1.6em;
}

.btn-close{
  background: transparent;
  border: 1px solid transparent;
  width: 2.4rem;
  height: 2.4rem;
  margin: 1.2rem;
  position: absolute;
  top:0;
  right:0;
  opacity: 0.5;
  cursor: pointer;
  outline: none;
  z-index: var(--z-index-1);
}
.btn-close:focus{
  box-shadow: 0 0 0 2px black;
}
.btn-close:hover{
  opacity: 1;
}