.badge-status-default{
  height: 1.8rem;
  width: 1.8rem;
  padding: 2px;
  position: absolute;
  border-radius: 50%;
  font-size: 1.4em;
  border: 2px solid var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge-status-online{
  background-color: var(--success-dark-color);
}
.badge-status-offline{
  background-color: var(--danger-dark-color);
}
.badge-status-away{
  background-color: var(--secondary-text-color);
}

.badge-container{
  position: relative;
}

.badge-container .avatar-lg ~ .badge-status-default{
  right: 2rem;
  bottom: 1.4rem;
}

.badge-container .avatar-md ~ .badge-status-default{
  right: 0.8rem;
  bottom: 1.2rem;
  height: 1.3;
  width: 1.3;
}

.badge-container .avatar-sm ~ .badge-status-default{
  right: 0.6rem;
  bottom: 0.6rem;
  height: 1.1rem;
  width: 1.1rem;
}

.badge-container .avatar-xs ~ .badge-status-default{
  right: 1.2rem;
  bottom: 0.6rem;
  height: 0.4rem;
  width: 0.4rem;
}

.badge-icon{
  height: 2rem;
  width: 2rem;
  
}
.badge-icon i{
  font-size: 5rem;
}

.badge-status-number{
  background-color: var(--light-primary-color);
  border: none;
  right:-1rem;
  top: -3.7rem;
  color: black;
  
}