.nav-bar {
	grid-area: header;
	min-height: 10vh;
	width: 100%;
	z-index: var(--z-index-3);
	/* position: sticky; */
	top: 0;
}

.logo-title {
	font-size: 3.2rem;
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
}

#my-nav-bar a,
#my-nav-bar a i {
	transition: 0.2s ease;
}
#my-nav-bar a:hover,
#my-nav-bar a:hover i {
	color: var(--primary-color);
}


/* SIDEBAR */

.sidebar {
	grid-area: sidebar;
	overflow-y: auto;
	position: sticky;
	top: 0rem;
	height: calc(100vh - 3.2rem);
}

.sidebar-title{
	margin-top: 1.6rem;
	padding-left: 4.8rem;
	padding-right: 4.8rem;
}

.nav-links {
	padding-inline-start: 0;
	list-style: none;
}

.nav-links {
	padding-inline-start: 0;
	list-style: none;
}
.nav-link-item:hover {
	background-color: var(--docSite-sec-color);
}
.nav-link-item > a {
	text-decoration: none;
	display: block;
	color: inherit;
	padding: 0.6rem 3rem;
}

.sidebar-toggle-down-arrow{
	display: none;
}

/* COMPONENT EXAMPLE CONTAINER */

.component-example-container{
  display: flex;
  flex-wrap: wrap;
  padding: 1.6rem;
  margin: 3.2rem 0;
  border: 2px solid var(--docSite-sec-color);
  align-items: baseline;
  border-radius:0.48rem;
  width: 100%;
}

.component-code-snippet-container{
	box-sizing: border-box;
	width: 100%;
	max-height: 30rem;
	padding: 1.6rem 0;
	background-color: #FAFAFA;
	margin: 3.2rem 0;
	overflow: auto;
}
.component-code-snippet-container iframe{
	width: 100%;
	border: none;
}



@media screen and (max-width:1024px) {

	/* SIDEBAR */

	.sidebar {
		overflow-y: hidden;
		height: 5.6rem;
		z-index: var(--z-index-2);
		background-color: var(--docSite-sec-color);
	}

	.sidebar-toggle-button {
		cursor: pointer;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		background-color: var(--docSite-sec-color);
		margin-bottom: 1.6rem;
	}

	.sidebar-title{
		padding: 1.6rem 2.6rem;
		margin: 0;
		line-height: 1.5em;
	}

	.nav-links {
		display: none;
	}

	.sidebar-toggle-down-arrow{
		display: block;
		padding: 1.6rem 2.6rem ;
	}

	.sidebar-active .sidebar-toggle-down-arrow i {
		transform: rotate(180deg);
	}

	.sidebar-toggle-down-arrow i {
		transition: 0.2s ease;
	}

	.sidebar-active.sidebar {
		height: 100vh;
	}

	.sidebar-active .nav-links {
		display: block;
		position: absolute;
		top: 5.6rem;
		height: calc(100vh - 5.6rem);
		z-index: var(--z-index-3);
		padding-bottom: 2.4rem;
		overflow-y: auto;
		width: 100%;
	}
}