@import url('./vybe.css');
:root{
  --docSite-sec-color:#e6e6e6f3;
}

.color-box{
  height: 5rem;
  width: 20rem;
  margin: 4rem;
}

.dark-mode-icon{
  color: var(--body-text-color);
}

.textPrimaryColor{
  color: var(--primary-color);
}

.bgPrimaryColor{
  background-color: var(--primary-color)
}

.bgLightPrimaryColor{
  background-color: var(--light-primary-color)
}

.bgDarkPrimaryColor{
  background-color: var(--dark-primary-color)
}

.bgSecondaryColor{
  color: var(--secondary-color)
}

.bgDarkSecondaryColor{
  background-color: var(--secondary-color)
}

.textSecondaryTextColor{
  color: var(--secondary-text-color)
}

.textDarkSecondaryTextColor{
  color: var(--dark-secondary-text-color)
}

.SecondaryColor{
  color: var(--secondary-color)
}

.textDarkPrimaryColor{
  color: var(--dark-primary-color)
}

.DarkSecondaryColor{
  color: var(--secondary-color)
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-align-item-center{
  align-items: center;
}

.flex-justify-content-center{
  justify-content: center;
}

.flex-justify-content-space-between{
  justify-content: space-between;
}

.flex-align-item-end{
  display: flex;
  align-items: end;
}

/* image styles */

.responsive-img{
  height: 100%;
  width: 100%;
}

.img-responsive{
  height: 100%;
  width: auto;
}

.circular-img{
  border-radius: 50%;
}

.margin-top-60{
  margin-top: 6rem;
}

/* margins and paddings global */
.margin-trb-16{
  margin: 1.6rem 1.6rem 1.6rem 0;
}

.margin-trb-20{
  margin: 2rem 2rem 2rem 0;
}

.mb-1{
  margin-bottom: 1rem;
}

.mb-2{
  margin-bottom: 2rem;
}

/* GRID SKLETON COMPONENTS PAGE */

.main{
  padding: 1.6rem 4.8rem;
	grid-area: main;
	width: 100%;
	box-sizing: border-box;
	max-width: 100vw;
}

.grid-container-skleton{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 'header header header header header'
  'sidebar main main main main'
  'sidebar main main main main'
  'sidebar main main main main';
  margin-bottom: 2.4rem;
}

.nav-bar {
  background-color: var(--bg-color-primary);
  /* color: var(--light-secondary-text-color); */
}

.shadow-box{
  box-shadow: 0px 0px 1rem 0.4rem rgba(var(--box-shadow),0.05);
}

.shadow-box-dark{
  box-shadow: 0px 0px 1rem 0.4rem rgb(var(--box-shadow), 0.3);
}

.shadow-bottom{
  box-shadow: 0 0.4rem 1.2rem 0 rgb(var(--box-shadow), 0.05);
}

@media screen and (max-width:1024px) {
  body {
    width: 100vw;
  }

  .grid-container-skleton{
    grid-template-columns: 1fr;
    grid-template-areas: 
      'header' 
      'sidebar' 
      'main';
    width: 100%;
    overflow-x: hidden;
  }

  .documentation-btn{
    display: inline-block;
  }

}