@import url('./navigation.css');
@import url('./button.css');
@import url('./docsite.css');
@import url('./typo.css');
@import url('./lists.css');
@import url('./alerts.css');
@import url('./avatar.css');
@import url('./badge.css');
@import url('./cards.css');
@import url('./input-forms.css');
@import url('./ratings.css');
@import url('./modal.css');
@import url('./toast.css');
@import url('./grids.css');
*{
  margin: 0;
}
html{
  font-size: 62.5%;
}

:root{
  --primary-color: #1EBAE2;
	--light-primary-color: #88b8d8;
	--dark-primary-color: #0184A9;

	--complimentary-text-color: white;

	--secondary-text-color: #696b79;
	--dark-secondary-text-color: #29292ce7;
	--secondary-color: #eaeaec;
	--dark-secondary-color: #d8d8da;
  --light-secondary-text-color: #282c3f;
  
  --bg-color-primary: #f4f9fce1;
  --bg-color-primary-3: #3f3947;
  --inactive-color: rgb(191, 192, 198);
  --body-text-color:#3e4152;
  --label-color:#000000bc;
	--field-required-color:#a7303c;
  --z-index-1: 1;
	--z-index-2: 2;
	--z-index-3: 3;
	--z-index-4: 4;
	--z-index-5: 5;
	--z-index-6: 6;
	--danger-dark-color:#721c24;
	--danger-light-color:#f8d7da;
	--danger-border-color:#f5c6cb;
	--success-dark-color:#155724;
	--success-light-color:#d4edda;
	--success-border-color:#c3e6cb;
	--warning-dark-color:#856404;
	--warning-light-color:#fff3cd;
	--warning-border-color:#ffeeba;
	--light-border-color:rgba(153, 151, 151, 0.938);
	--white-color:#fff;
	--black-color:#000;
	--password-color:#413e3e;
	--password-background-color:#f3eaf3;
}
body{
  color: var(--body-text-color);
}

.font-size-24{
  font-size: 2.4rem;
}

.font-size-16{
  font-size: 1.6rem;
}

.nav-bar .nav-icon:hover i {
	color: var(--primary-color);
}